# 1B. Data Cleaning: Seasonality

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import sys
sys.path.append('/content/drive/My Drive/Masters Project/datasets/raw_datasets/')

In [0]:
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.cm as cmx
import matplotlib.pyplot as plt
import matplotlib.colors as colors

In [0]:
data = pd.read_csv(r'/content/drive/My Drive/Masters Project/datasets/raw_datasets/calendar.csv')
data.head()

   listing_id        date  ... minimum_nights maximum_nights
0      142177  2019-08-06  ...              5             25
1       51557  2019-08-06  ...             30            180
2       51557  2019-08-07  ...             30            180
3       51557  2019-08-08  ...             30            180
4       51557  2019-08-09  ...             30            180

[5 rows x 7 columns]

In [0]:
data_fill = data[['listing_id','date','available','price']]
data_fill = data_fill.dropna()
data_fill.head(5)

   listing_id        date available    price
0      142177  2019-08-06         f  $475.00
1       51557  2019-08-06         f   $99.00
2       51557  2019-08-07         f   $99.00
3       51557  2019-08-08         f   $99.00
4       51557  2019-08-09         f   $99.00

In [0]:
data_fill.to_csv(r"/content/drive/My Drive/Masters Project/datasets/clean_datasets/calendar_clean.csv",index=False)